.content#fullPageScroll
  .top-section
    =render partial: 'home/partials/top_part'
  .row-offcanvas.row-offcanvas-left

    =render partial: 'home/partials/left_sidebar'

    .div#content
    =render partial: 'home/partials/main_part'
    =render partial: 'home/partials/second_part'
    =render partial: 'home/partials/third_part'
    =render partial: 'home/partials/fourth_part'
  / /row-offcanvas