#sidebar.sidebar-offcanvas.sidebar-main
  .col-md-12.no-padding-left
    .logo
      %div GOLDMAN
      %div.second-color VENTURE
    %ul.nav
      %li.active
        %a{:href => "#main-part", 'data-href' => '1'} ABOUT
      %li
        %a{:href => "#second-part", 'data-href' => '2'} NOW
      %li
        %a{:href => "#third-part", 'data-href' => '3'} PORTFOLIO
      %li
        %a{:href => "#fourth-part", 'data-href' => '4'} CONTACT