%nav.navbar.navbar-default.navbar-touch
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %b Goldman
        Venture
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#main-part"} ABOUT
        %li
          %a{:href => "#second-part"} WORK
        %li
          %a{:href => "#third-part"} NEWS
        %li
          %a{:href => "#fourth-part"} CONTACT